<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="SummerCode About Page.css" />
    <title>About</title>
</head>

<!-- About page providing information about the website and it's functionlaity -->
<body>
	<header>
		<h1 id="about">Calling All Parents!</h1>
	</header>

<section >		
	<div id="left-side-content" >
		<h3 >How ParentHood Started</h3>
		<p>ParentHood was created to support parents. It is all about families and providing opportunities for parents to enhance thier parenting experience! <br> ParentHood helps parents find, meet and connect with other parents locally to them. </p>
	</div>
</section>

<section>
	<div id="right-side-content">
	<div>
		<h3 class="heading">Why Choose ParentHood</h3>
	</div>
	<div>
		<p>With cutting edge technology and secure messaging ParentHood provides a safe and intuitive environment for all.</p>
	</div>
</div>	
</section>

<!--interactive icons which could link to the different sections of the website -->
    <section id="container">      
	<div id="icons_to_click">
		<ul>
			<li>
				<picture class="pic-size">
					<a href="#"><img src="../test code/imgs/location_535239.png" alt="location pin"></a>
				</picture>
				<br>
				Find others
					<br>
				local to you
			</li>
			<li>
				<picture class="pic-size">
					<a href="#"><img src="../test code/imgs/event_2413035.png"alt="calender image"/></a>
				</picture>
				<br>
				Find your
					<br>
				next event
			</li>
			<li>
				<picture class="pic-size">
					<a href="#"><img src="../test code/imgs/user_1077063.png" alt="profile icon"></a>
				</picture>
				<br>
				Update your
					<br>
				profile
			</li>
		</ul>
	</div>
</section> 


	
</body>
