{% extends "base.html" %}

{% block content %}
<!-- Container div -->
<div class="container">
  <!-- Welcome Div -->
    <div class="row">
      <div class="welcome-tet">
        <h1>Welcome to Parenthood!</h1>
      </div>
      <div class="parenthood-brief">
        <!-- the short description -->
        <div class="brief-text">
          <p> A safe space for parents and their children to meet up and connect with the community.</p>
        </div>
        <div class="signup-btn-container">
          <!-- sign up button -->
          <button id="signup-btn">Sign Up</button>
        </div>
      </div>
      <div class="img-container">
        <!-- This is just a placeholder image for hero image -->
        <img class="heroimg" src="https://images.pexels.com/photos/2833394/pexels-photo-2833394.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1">
      </div>
    </div>
    <!-- about us div -->
    <div class="row" id="about">
      <div class="row about-txt">
        <h2>What is Parenthood App</h2>
        <p>It is an app that allows families to create and locate events near them and bring the community together</p>
      </div>
      <!-- Meet community div -->
      <div class="column meet-community-div">
        <div class="column meet-community">
          <i class="fa-sharp fa-solid fa-handshake"></i>
          <p>Meet the community</p>
        </div>
      </div>
      <!-- Find support div -->
      <div class="column find-support-div">
        <div class="column find-support">
          <i class="fa-regular fa-hand-holding-heart"></i>
          <p>Find Support</p>
        </div>
      </div>
      <!-- Discover Events in about div -->
      <div class="column discover-events-div">
        <div class="column discover-events">
          <i class="fa-regular fa-map-location-dot"></i>
          <p>Discover nearby events</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="meet-up-text">
        <h3>Meet Up</h3>
        <p>Lets get social!</p>
        <p>Discover other parents and events near you.</p>
      </div>
      <div id="map"></div>
    </div>
    <div class="row events-outter">
        {% for event in events %}
      <div class="col-sm-6 col-md-7 col-lg-3 col-xl-3 rec-card-position">
        <a href="#" class="text-decoration-none text-reset">
        <div class="card card-recently-added">
                <div class="card-body">
                    <h5 class="card-title rec-card-title"></h5>
                <p class="card-text">{{ event.event_name }}</p>
                <p class="card-text">By: {{ event.organizer }}</p>
                <p class="card-text">{{ event.event_description}}</p>
                <hr>
                <div class="card-text text-muted">{{ event.event_date_time}} <i class="far fa-heart pl-3"></i>
                    <div class="card-text text-muted">{{ event.location}} <i class="far fa-heart pl-3"></i>
                 </div>
            </div>
            </div>
        </div>
        </a>
      </div>   
      <div class="ml-4 text-uppercase">
        <a href="{% url 'edit_event' event.id %}" class="text-success btn btn-small border-0">edit</a>
        <button class="bg-light btn-sm p-0 logo-font text-danger border-0 text-uppercase"
            data-toggle="modal" data-target="#">Delete</button>
    </div>  
      {% endfor %}
    </div>
    <!--blog post section-->
    <section class="blogs">

      <h2>BLOG'S ON PARENTHOOD</h2>
      <div class="blog-links">
        <div class="square">
          <img src="https://www.meetup.com/blog/wp-content/uploads/2020/11/mom-working-from-home_parenting-communities-1120x630.jpg" alt="Image 1">
          <div class="title">Meetup Blog</div>
          <div class="description">Parenting Communities: Now More Helpful Than Ever - Meetup Blog</div>
          <a href="https://www.meetup.com/blog/parenting-communities-now-more-helpful-than-ever/">Read More...</a>
        </div>
        <div class="square">
          <img src="https://slack-imgs.com/?c=1&o1=ro&url=https%3A%2F%2Fwww.irishtimes.com%2Fresizer%2F0q7DMt2QKRpe7FirAyahVppWmE8%3D%2F1200x630%2Ffilters%3Aformat%28jpg%29%3Aquality%2870%29%2Fcloudfront-eu-central-1.images.arcpublishing.com%2Firishtimes%2F6KAWELMR7RIIQQ2M2RN6RYGIYM.jpg" alt="Image 2">
          <div class="title">The Irish Times</div>
          <div class="description">The best hobbies, clubs and outdoor activities for adults</div>
          <a href="https://www.irishtimes.com/life-and-style/the-best-hobbies-clubs-and-outdoor-activities-for-adults-1.4603631">Read More...</a>
        </div>
        
        <div class="square">
          <img src="https://1.bp.blogspot.com/-Sr9r36J6FVc/XjlsAMupd2I/AAAAAAAAZMk/Flai-YzRut8b1NDuKeEMcDo5TXZCfrdugCNcBGAsYHQ/s1600/The%2BDifferences%2Bbetween%2Bhaving%2Ba%2BSpring_Summer%2BBaby%2Bcompared%2Bto%2Ban%2BAutumn_Winter%2BBaby.png" alt="Image 8">
          <div class="title">Treasure Every Moment</div>
          <div class="description">PARENTHOOD: The Difference between having a Spring/Summer Baby and an Autumn/Winter Baby</div>
          <a href="https://www.treasureeverymoment.co.uk/2020/02/parenthood-differences-between-having.html?m=0">Read More...</a>
        </div>
        <div class="square">
          <img src="https://slack-imgs.com/?c=1&o1=ro&url=https%3A%2F%2Fmotherhoodtherealdeal.com%2Fwp-content%2Fuploads%2F2017%2F07%2F836.jpg" alt="Image 1">
          <div class="title">Motherhood: The Real Deal</div>
          <div class="description">Positive parenting: How to keep parenting positive over summer break</div>
          <a href="https://motherhoodtherealdeal.com/parenthood/parenting-through-the-summer-holidays/">Read More...</a>
        </div>
        <div class="square">
          <img src="https://slack-imgs.com/?c=1&o1=ro&url=https%3A%2F%2Ffamilyfriendlyhq.imgix.net%2Fuploads%2F2022%2F06%2F30094547%2Fsurviving-summer-holidays.jpg%3Fauto%3Dformat%26crop%3Dentropy%252Cbottom%26dpr%3DHow%2520To%2520Stay%2520Sane%2520During%2520the%2520Summer%2520Holidays%26fit%3Dcrop%26fm%3Djpg%26h%3D630%26ixlib%3Dphp-1.2.1%26q%3D75%26w%3D1200" alt="Image 2">
          <div class="title">Familyfriendlyhq.ie</div>
          <div class="description">How To Stay Sane During the Summer Holidays | Familyfriendlyhq.ie.</div>
          <a href="https://www.familyfriendlyhq.ie/parenthood/stay-sane-summer-holidays-30409/">Read More...</a>
        </div>
        
        <div class="square">
          <img src="https://slack-imgs.com/?c=1&o1=ro&url=https%3A%2F%2F4.bp.blogspot.com%2F-NMSSTR_jXiA%2FUgFeI8uK-AI%2FAAAAAAAAFTc%2F_2huSB81WRs%2Fw1200-h630-p-k-no-nu%2Fsummer%2Bbrothers.jpg" alt="Image 8">
          <div class="title">themummyadventure.com</div>
          <div class="description">A family lifestyle blog about the adventures of parenting four under fives - family travel, kids fashion and our day to day adventures</div>
          <a href="https://slack-imgs.com/?c=1&o1=ro&url=https%3A%2F%2F4.bp.blogspot.com%2F-NMSSTR_jXiA%2FUgFeI8uK-AI%2FAAAAAAAAFTc%2F_2huSB81WRs%2Fw1200-h630-p-k-no-nu%2Fsummer%2Bbrothers.jpg">Read More...</a>
        </div>

        <div class="square">
          <img src="https://slack-imgs.com/?c=1&o1=ro&url=https%3A%2F%2Fcf.ltkcdn.net%2Fparenting%2Fparenthood%2Fimages%2Fstd%2F341745-800x533-family-camping-trip-1226977845.jpg" alt="Image 8">
          <div class="title">LoveToKnow</div>
          <div class="description">16 Family Fun Ideas to Make the Most of Your Summer | LoveToKnow</div>
          <a href="https://www.lovetoknow.com/parenting/parenthood/photos-summer-family-fun">Read More...</a>
        </div>

        <div class="square">
          <img src="https://3.bp.blogspot.com/-2HQFlPtn3-s/WusTglsBwuI/AAAAAAAGlQM/U-dqgqYvLpQlfVXrju3pmxiUSi2MA2XkACLcBGAs/s1600/summer%2Bschedule.png" alt="Image 8">
          <div class="title">SUMMER SCHEDULES</div>
          <div class="description">We are all talking about the subject of summer today. This is my first summer with three children and, whew, it’s a whole different ball game than the school year! </div>
          <a href="https://www.journeyofparenthood.com/summer-schedules">Read More...</a>
        </div>
      </div>
    </section>
  </div>
{%endblock%}
