{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row">
      <div class="welcome-tet">
        <h1>Welcome to Parenthood!</h1>
      </div>
      <div class="parenthood-brief">
        <div class="brief-text">
          <p> A safe space for parents and their children to meet up and connect with the community.</p>
        </div>
        <div class="signup-btn-container">
          <button id="signup-btn">Sign Up</button>
        </div>
      </div>
      <div class="img-container">
        <img src="">
      </div>
    </div>
    <div class="row" id="about">
      <div class="row about-txt">
        <h2>What is Parenthood App</h2>
        <p>It is an app that allows families to create and locate events near them and bring the community together</p>
      </div>
      <div class="row">
        <div class="column meet-community">
          <i class="fa-sharp fa-solid fa-handshake"></i>
          <p>Meet the community</p>
        </div>
      </div>
      <div class="row">
        <div class="column find-support">
          <i class="fa-regular fa-hand-holding-heart"></i>
          <p>Find Support</p>
        </div>
      </div>
      <div class="row">
        <div class="column discover-events">
          <i class="fa-regular fa-map-location-dot"></i>
          <p>Discover nearby events</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="meet-up-text">
        <h3>Meet Up</h3>
        <p>Lets get social!</p>
        <p>Discover other parents and events near you.</p>
      </div>
      <div id="map"></div>
    </div>
    <div class="row events-outter">
        {% for event in events %}
      <div class="col-sm-6 col-md-7 col-lg-3 col-xl-3 rec-card-position">
        <a href="#" class="text-decoration-none text-reset">
        <div class="card card-recently-added">
                <div class="card-body">
                    <h5 class="card-title rec-card-title"></h5>
                <p class="card-text">{{ event.event_name }}</p>
                <p class="card-text">By: {{ event.organizer }}</p>
                <p class="card-text">{{ event.event_description}}</p>
                <hr>
                <div class="card-text text-muted">{{ event.event_date_time}} <i class="far fa-heart pl-3"></i>
                    <div class="card-text text-muted">{{ event.location}} <i class="far fa-heart pl-3"></i>
                 </div>
            </div>
            </div>
        </div>
        </a>
      </div>     
      {% endfor %}
    </div>
  </div>
{%endblock%}
